In [1]:
import pandas as pd

In [3]:
df = None
with open("datasets/20231127-1122_dataset.json", "r") as f:
    df = pd.read_json(f.read())

In [6]:
df.columns

Index(['query', 'description', 'context', 'prompt', 'num_tokens', 'result',
       'full_answer', 'is_skipped', 'is_prompt_too_long'],
      dtype='object')

In [18]:
df["is_skipped"].loc[df["is_skipped"] == 1]

379     1
386     1
409     1
683     1
726     1
743     1
745     1
1046    1
1047    1
1159    1
1348    1
1596    1
1626    1
1628    1
1633    1
1799    1
1986    1
2681    1
Name: is_skipped, dtype: int64

In [19]:
list(df.loc[df["is_skipped"] == True].index)

[379,
 386,
 409,
 683,
 726,
 743,
 745,
 1046,
 1047,
 1159,
 1348,
 1596,
 1626,
 1628,
 1633,
 1799,
 1986,
 2681]

In [17]:
for i, x in zip(range(len(list(df["is_skipped"]))), list(df["is_skipped"])):
    if x != 0:
        print(i, x)

379 1
386 1
409 1
683 1
726 1
743 1
745 1
1046 1
1047 1
1159 1
1348 1
1596 1
1626 1
1628 1
1633 1
1799 1
1986 1
2681 1