In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet("../outputs/wikidatallm/results.parquet.gzip")
df

,row,last_executed_step,to_be_executed_step,translated_prompt,status,has_error
0,How many countries in the EU?,LLMTranslator,,SELECT COUNT(DISTINCT ?country) WHERE {\n?coun...,,False
1,Who plays Harry Potter in the Harry Potter movie?,LLMTranslator,,SELECT ?actor ?actorLabel WHERE {\n?actor wdt:...,,False

In [4]:
print(df['translated_prompt'][0])

SELECT COUNT(DISTINCT ?country) WHERE {
?country wdt:P31 wd:Q236. # P31 is "instance of", Q236 is "country"
?country wdt:P279 wd:Q1041. # P279 is "member of", Q1041 is "European Union"
}