In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../datasets/queries_with_execution_results_with_limit.parquet.gzip", engine="fastparquet")
df

,query,description,context,prompt,num_tokens,execution
index,,,,,,
0,SELECT ?property ?propertyType ?propertyLabel ...,Wikidata properties in numerical order,Counting stuff on Wikidata\nAll Wikidata prope...,<s>[INST] <<SYS>>This is a conversation betwee...,267,"[{'property': {'type': 'uri', 'value': 'http:/..."
1,SELECT ?id ?idLabel ?idDescription ?new{\n?id ...,Wikidata properties excluding external IDs,Counting stuff on Wikidata\nVariation of the a...,<s>[INST] <<SYS>>This is a conversation betwee...,296,"[{'id': {'type': 'uri', 'value': 'http://www.w..."
2,SELECT (COUNT(?article) AS ?count)\nWHERE {\n?...,,Counting stuff on Wikidata\nCount of scientifi...,<s>[INST] <<SYS>>This is a conversation betwee...,197,timeout
3,SELECT (COUNT(DISTINCT ?article) AS ?count)\nW...,Count of fictional characters,Counting stuff on Wikidata\nCount of fictional...,<s>[INST] <<SYS>>This is a conversation betwee...,203,[{'count': {'datatype': 'http://www.w3.org/200...
4,SELECT (COUNT(?item) AS ?count)\nWHERE { ?item...,Count of items with coordinate locations,Counting stuff on Wikidata\nCount of items wit...,<s>[INST] <<SYS>>This is a conversation betwee...,186,[{'count': {'datatype': 'http://www.w3.org/200...
...,...,...,...,...,...,...
2840,select ?feat ?en (count(*) as ?total)\nwith {\...,Grammatical features used on English nouns and...,,<s>[INST] <<SYS>>This is a conversation betwee...,309,"[{'feat': {'type': 'uri', 'value': 'http://www..."
2841,SELECT ?country ?countryLabel ?lifeExpectancy\...,List of countries sorted by life expectancy,,<s>[INST] <<SYS>>This is a conversation betwee...,250,"[{'country': {'type': 'uri', 'value': 'http://..."
2842,SELECT ?item ?itemLabel ?coord ?image\nWHERE\n...,Railway bridges in Germany and Austria,,<s>[INST] <<SYS>>This is a conversation betwee...,271,"[{'item': {'type': 'uri', 'value': 'http://www..."
2843,SELECT DISTINCT ?train_wreck ?train_wreckLabel...,Number of deaths in train wrecks per country,,<s>[INST] <<SYS>>This is a conversation betwee...,297,"[{'train_wreck': {'type': 'uri', 'value': 'htt..."
2844,select distinct ?item1 ?article1 ?item2 ?artic...,Pairs of people who both have an English #Wiki...,,<s>[INST] <<SYS>>This is a conversation betwee...,312,exception: module 'requests.exceptions' has no...

In [3]:
df_timeout = df.loc[df['execution'] == 'timeout']
df_fail = df.loc[df['execution'].str.startswith('exception')]
df_empty = df.loc[df['execution'].isnull()]
df_successful = df.drop(df_timeout.index).drop(df_fail.index).drop(df_empty.index)

In [13]:
df_fail

,query,description,context,prompt,num_tokens,execution
index,,,,,,
24,SELECT ?iso ?countryLabel (SUM(?stars) as ?sta...,,Not Economics\nStars in flag versus fertility,<s>[INST] <<SYS>>This is a conversation betwee...,423,exception: 500 Server Error: Internal Server E...
86,SELECT DISTINCT ?person ?personLabel ?personDe...,,Wikisource maintenance\nDead people with a Pro...,<s>[INST] <<SYS>>This is a conversation betwee...,351,exception: 400 Client Error: Bad Request for u...
341,SELECT ?personLabel ?work ?workLabel ?pubyear ...,,Early Modern Letters Online\nPublications with...,<s>[INST] <<SYS>>This is a conversation betwee...,381,exception: 400 Client Error: Bad Request for u...
413,SELECT ?manufacturer ?manufacturerLabel (SUM(?...,,Ways to reduce multiplicity\nSources of multip...,<s>[INST] <<SYS>>This is a conversation betwee...,446,exception: 500 Server Error: Internal Server E...
418,"SELECT ?item ?itemLabel\n{\n?item wdt:P2093 ""B...",Author name strings,Author name strings,<s>[INST] <<SYS>>This is a conversation betwee...,208,exception: 400 Client Error: Bad Request for u...
...,...,...,...,...,...,...
2652,SELECT ?item ?articlename ?itemLabel ?itemDesc...,Notable people who you share a birthday with (...,,<s>[INST] <<SYS>>This is a conversation betwee...,425,exception: 400 Client Error: Bad Request for u...
2656,SELECT ?count ?topic ?taxonname\nWITH {\nSELEC...,The 100 most common species as subjects of pub...,,<s>[INST] <<SYS>>This is a conversation betwee...,274,exception: 400 Client Error: Bad Request for u...
2760,SELECT DISTINCT ?author ?geo\nWITH {\nSELECT D...,Locations of employers/affiliations of first a...,,<s>[INST] <<SYS>>This is a conversation betwee...,511,exception: 400 Client Error: Bad Request for u...
2791,"querybuilder/?uselang=en&query={""conditions"":[...",Dentists who are notable footballers,,<s>[INST] <<SYS>>This is a conversation betwee...,305,exception: 400 Client Error: Bad Request for u...
2809,SELECT ?item ?itemLabel ?nomLabel ?lieuLabel W...,Location of paintings in the Paintings Departm...,,<s>[INST] <<SYS>>This is a conversation betwee...,378,exception: 400 Client Error: Bad Request for u...

In [4]:
print(f"Number of timed out request: {len(df_timeout)}")
print(f"Number of failed request: {len(df_fail)}")
print(f"Number of empty response: {len(df_empty)}")
print(f"Number of successful resposne: {len(df_successful)}")

Number of timed out request: 197
Number of failed request: 231
Number of empty response: 0
Number of successful resposne: 2417

In [17]:

df_fail

C:\Users\Alexis Strappazzon\AppData\Local\Temp\ipykernel_7700\2837086261.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fail['error_type'] = df_fail.apply(lambda x: find_error_type(x), axis=1)

,query,description,context,prompt,num_tokens,execution,error_type
index,,,,,,,
24,SELECT ?iso ?countryLabel (SUM(?stars) as ?sta...,,Not Economics\nStars in flag versus fertility,<s>[INST] <<SYS>>This is a conversation betwee...,423,exception: 500 Server Error: Internal Server E...,500
86,SELECT DISTINCT ?person ?personLabel ?personDe...,,Wikisource maintenance\nDead people with a Pro...,<s>[INST] <<SYS>>This is a conversation betwee...,351,exception: 400 Client Error: Bad Request for u...,400
141,SELECT ?type ?typeLabel ((COUNT(?tw)) AS ?twit...,,Social media\nNumber of Facebook IDs versus nu...,<s>[INST] <<SYS>>This is a conversation betwee...,296,exception: 400 Client Error: Bad Request for u...,400
178,SELECT ?id ?idlabel (round(?count*1000/?total)...,Most common properties (excluding external ids...,Wikipedia infoboxes\nMost common properties fo...,<s>[INST] <<SYS>>This is a conversation betwee...,465,exception: 400 Client Error: Bad Request for u...,400
179,SELECT ?type ?typename (COUNT(?text) AS ?count...,,Wikidata Graphs\nCounts of items in subclasses...,<s>[INST] <<SYS>>This is a conversation betwee...,249,exception: 400 Client Error: Bad Request for u...,400
...,...,...,...,...,...,...,...
2656,SELECT ?count ?topic ?taxonname\nWITH {\nSELEC...,The 100 most common species as subjects of pub...,,<s>[INST] <<SYS>>This is a conversation betwee...,274,exception: 400 Client Error: Bad Request for u...,400
2760,SELECT DISTINCT ?author ?geo\nWITH {\nSELECT D...,Locations of employers/affiliations of first a...,,<s>[INST] <<SYS>>This is a conversation betwee...,511,exception: 400 Client Error: Bad Request for u...,400
2791,"querybuilder/?uselang=en&query={""conditions"":[...",Dentists who are notable footballers,,<s>[INST] <<SYS>>This is a conversation betwee...,305,exception: 400 Client Error: Bad Request for u...,400
2809,SELECT ?item ?itemLabel ?nomLabel ?lieuLabel W...,Location of paintings in the Paintings Departm...,,<s>[INST] <<SYS>>This is a conversation betwee...,378,exception: 400 Client Error: Bad Request for u...,400
2844,select distinct ?item1 ?article1 ?item2 ?artic...,Pairs of people who both have an English #Wiki...,,<s>[INST] <<SYS>>This is a conversation betwee...,312,exception: module 'requests.exceptions' has no...,None

In [44]:
import re

comp = re.compile(r"exception: ([0-9]+)")

def find_error_type(x: pd.Series):
    m = comp.search(x['execution'][:20])
    
    if m != None:
        return m.group(1)
    
    return None

df_fail['error_type'] = df_fail.apply(lambda x: find_error_type(x), axis=1)

distinct_errors = df_fail.error_type.unique()

print(f"There is {len(distinct_errors)} types of errors: {', '.join(map(lambda x: str(x), distinct_errors))}")
for err in distinct_errors:
    if err == None:
        print(f"Number of {str(err)}: {len(df_fail.loc[df_fail['error_type'].isnull()])}")
    else:
        print(f"Number of {str(err)}: {len(df_fail.loc[df_fail['error_type'] == err])}")

print()

for err in distinct_errors:
    if err == None:
        print(f"Example of {str(err)}: {df_fail.loc[df_fail['error_type'].isnull()].iloc[0]['execution']}")
    else:
        print(f"Example of {str(err)}: {df_fail.loc[df_fail['error_type'] == err].iloc[0]['execution']}")

There is 3 types of errors: 500, 400, None
Number of 500: 45
Number of 400: 156
Number of None: 30

Example of 500: exception: 500 Server Error: Internal Server Error for url: https://query.wikidata.org/bigdata/namespace/wdq/sparql?query=SELECT+%3Fiso+%3FcountryLabel+%28SUM%28%3Fstars%29+as+%3Fstars%29+%3Ffertility+WHERE+%7B%0A%7BSELECT+DISTINCT+%3Fcountry+%3Fiso+WHERE+%7B%0AVALUES+%3Fcountrytypes+%7Bwd%3AQ6256+wd%3AQ3624078%7D+%23+country+and+sovereign+state%0A%3Fcountry+wdt%3AP31+%3Fcountrytypes+%3B+wdt%3AP298+%3Fiso%0AMINUS+%7B%3Fcountry+wdt%3AP576+%5B%5D%7D+%23+Not+dissolved%0A%7D+%7D%0A%3Fcountry+wdt%3AP163+%3Fflag.%0AOPTIONAL%7B%0A%3Fflag+p%3AP180+%5Bps%3AP180+%3Ffeature+%3B+pq%3AP1114+%3Fstars%5D+.+%23+quantity+of+feature%0A%3Ffeature+wdt%3AP279%3F+wd%3AQ836708+%23+type+of+star+polygon%0A%7D%0AOPTIONAL+%7B+%3Fcountry+wdt%3AP4841+%3Ffertility+%7D%0ASERVICE+wikibase%3Alabel+%7B+bd%3AserviceParam+wikibase%3Alanguage+%22%5BAUTO_LANGUAGE%5D%2Cen%22.+%7D%0A%7D+GROUP+BY+%3Fiso+%3FcountryLabel+%3Ffertility%0AORDER+BY+DESC%28%3Fstars%29+%3FcountryLabel&format=json
Example of 400: exception: 400 Client Error: Bad Request for url: https://query.wikidata.org/bigdata/namespace/wdq/sparql?query=SELECT+DISTINCT+%3Fperson+%3FpersonLabel+%3FpersonDescription+%3Flanguage+%3Fdeath+%28URI%28CONCAT%28%22https%3A%2F%2Fwww.gutenberg.org%2Febooks%2Fauthor%2F%22%2C+%3Fgutenberg%29%29+AS+%3Fgberglink%29+WHERE+%7B%0A%3Fperson+wdt%3AP1938+%3Fgutenberg%3B%0Awdt%3AP570+%3Fdeath.+%23+Dead+people+only%0AFILTER+%28%3Fdeath+%3C%3D+%221946-01-01T00%3A00%3A00Z%22%5E%5Exsd%3AdateTime%29%0AMINUS+%7B%0A%3Fenws+schema%3Aabout+%3Fperson%3B%0Aschema%3AisPartOf+%3Chttps%3A%2F%2Fen.wikisource.org%2F%3E%0A%7D%0AOPTIONAL+%7B%3Fperson+wdt%3AP1412+%3Flang%7D.%0AFILTER+%28%21BOUND%28%3Flang%29+%7B%7B%21&format=json
Example of None: exception: module 'requests.exceptions' has no attribute 'JSONDecodeError'

C:\Users\Alexis Strappazzon\AppData\Local\Temp\ipykernel_7700\1239083386.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fail['error_type'] = df_fail.apply(lambda x: find_error_type(x), axis=1)

## Error reasons

Finding more by manually testing queries using the `https://query.wikidata.org`.

### 500 Server Error

A sample of error 500 Server Error found that a lot of (if not all) queries were producing `java.lang.StackOverflowError`.

This can be caused by the complexity or the nature recursive of the queries, but also by a limitation of the utilization of wikidata resources.

### 400 Client Error

Some queries seems to not be correctly formatted like `df_fail.loc[df_fail['error_type'] == '400'].iloc[0]['query']`.

An other reason, is that the query takes too long too execute and the API raise a Timeout.

(This might have been fixed now, but in this version the "LIMIT" clause is added even tho there is already a LIMIT. Some encountered errors were due to that.)

In [57]:
print(df_fail.loc[df_fail['error_type'] == '400'].iloc[2]['execution'])

exception: 400 Client Error: Bad Request for url: https://query.wikidata.org/bigdata/namespace/wdq/sparql?query=SELECT+%3Fid+%3Fidlabel+%28round%28%3Fcount%2A1000%2F%3Ftotal%29%2F10+AS+%3Fpercent%29%0AWITH+%7B%0ASELECT+%3Fitem+WHERE+%7B%0A%3Fitem+wdt%3AP31%2Fwdt%3AP279%3F+wd%3AQ5398426+.%0A%3Farwp+schema%3Aabout+%3Fitem+%3B+schema%3AisPartOf+%3Chttps%3A%2F%2Fary.wikipedia.org%2F%3E%0A%7D%0A%7D+AS+%25list%0AWITH+%7B%0ASELECT+%28COUNT%28%3Fitem%29+AS+%3Ftotal%29+WHERE+%7B%0Ainclude+%25list%0A%7D%0A%7D+AS+%25total%0AWITH+%7B%0ASELECT+%3Fid+%28COUNT%28DISTINCT+%3Fitem%29+AS+%3Fcount%29+WHERE+%7B%0Ainclude+%25list%0A%3Fitem+%3Fp+%5B%5D+.%0A%3Fid+wikibase%3Aclaim+%3Fp+.+FILTER%28%3Fp+%21%3D+p%3AP31%29%0AMINUS+%7B+%3Fid+wikibase%3ApropertyType+wikibase%3AExternalId+%7D%0A%7D%0AGROUP+BY+%3Fid%0A%7D+AS+%25props%0AWHERE+%7B%0Ainclude+%25props%0Ainclude+%25total%0A%3Fid+rdfs%3Alabel+%3Fidlabel+.+FILTER+%28lang%28%3Fidlabel%29+%3D+%22en%22%29%0A%7D%0AORDER+BY+DESC%28%3Fpercent%29%0ALIMIT+50%0ALIMIT+10&format=json