In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../datasets/queries_with_execution_results.parquet.gzip", engine="fastparquet")
df

,query,description,context,prompt,num_tokens,execution
index,,,,,,
0,SELECT ?property ?propertyType ?propertyLabel ...,Wikidata properties in numerical order,Counting stuff on Wikidata\nAll Wikidata prope...,<s>[INST] <<SYS>>This is a conversation betwee...,267,"[{'property': {'type': 'uri', 'value': 'http:/..."
1,SELECT ?id ?idLabel ?idDescription ?new{\n?id ...,Wikidata properties excluding external IDs,Counting stuff on Wikidata\nVariation of the a...,<s>[INST] <<SYS>>This is a conversation betwee...,296,timeout
2,SELECT (COUNT(?article) AS ?count)\nWHERE {\n?...,,Counting stuff on Wikidata\nCount of scientifi...,<s>[INST] <<SYS>>This is a conversation betwee...,197,timeout
3,SELECT (COUNT(DISTINCT ?article) AS ?count)\nW...,Count of fictional characters,Counting stuff on Wikidata\nCount of fictional...,<s>[INST] <<SYS>>This is a conversation betwee...,203,[{'count': {'datatype': 'http://www.w3.org/200...
4,SELECT (COUNT(?item) AS ?count)\nWHERE { ?item...,Count of items with coordinate locations,Counting stuff on Wikidata\nCount of items wit...,<s>[INST] <<SYS>>This is a conversation betwee...,186,timeout
...,...,...,...,...,...,...
2840,select ?feat ?en (count(*) as ?total)\nwith {\...,Grammatical features used on English nouns and...,,<s>[INST] <<SYS>>This is a conversation betwee...,309,timeout
2841,SELECT ?country ?countryLabel ?lifeExpectancy\...,List of countries sorted by life expectancy,,<s>[INST] <<SYS>>This is a conversation betwee...,250,"[{'country': {'type': 'uri', 'value': 'http://..."
2842,SELECT ?item ?itemLabel ?coord ?image\nWHERE\n...,Railway bridges in Germany and Austria,,<s>[INST] <<SYS>>This is a conversation betwee...,271,"[{'item': {'type': 'uri', 'value': 'http://www..."
2843,SELECT DISTINCT ?train_wreck ?train_wreckLabel...,Number of deaths in train wrecks per country,,<s>[INST] <<SYS>>This is a conversation betwee...,297,"[{'train_wreck': {'type': 'uri', 'value': 'htt..."
2844,select distinct ?item1 ?article1 ?item2 ?artic...,Pairs of people who both have an English #Wiki...,,<s>[INST] <<SYS>>This is a conversation betwee...,312,"{\n ""head"" : {\n ""vars"" : [ ""item1"", ""arti..."

In [4]:
df_timeout = df.loc[df['execution'] == 'timeout']
df_fail = df.loc[df['execution'].str.startswith('exception')]
df_empty = df.loc[df['execution'].isnull()]
df_successful = df.drop(df_timeout.index).drop(df_fail.index).drop(df_empty.index)

In [8]:
df_empty_2.index

Index([], dtype='int64', name='index')

In [13]:
df_fail

,query,description,context,prompt,num_tokens,execution
index,,,,,,
24,SELECT ?iso ?countryLabel (SUM(?stars) as ?sta...,,Not Economics\nStars in flag versus fertility,<s>[INST] <<SYS>>This is a conversation betwee...,423,exception: 500 Server Error: Internal Server E...
86,SELECT DISTINCT ?person ?personLabel ?personDe...,,Wikisource maintenance\nDead people with a Pro...,<s>[INST] <<SYS>>This is a conversation betwee...,351,exception: 400 Client Error: Bad Request for u...
341,SELECT ?personLabel ?work ?workLabel ?pubyear ...,,Early Modern Letters Online\nPublications with...,<s>[INST] <<SYS>>This is a conversation betwee...,381,exception: 400 Client Error: Bad Request for u...
413,SELECT ?manufacturer ?manufacturerLabel (SUM(?...,,Ways to reduce multiplicity\nSources of multip...,<s>[INST] <<SYS>>This is a conversation betwee...,446,exception: 500 Server Error: Internal Server E...
418,"SELECT ?item ?itemLabel\n{\n?item wdt:P2093 ""B...",Author name strings,Author name strings,<s>[INST] <<SYS>>This is a conversation betwee...,208,exception: 400 Client Error: Bad Request for u...
...,...,...,...,...,...,...
2652,SELECT ?item ?articlename ?itemLabel ?itemDesc...,Notable people who you share a birthday with (...,,<s>[INST] <<SYS>>This is a conversation betwee...,425,exception: 400 Client Error: Bad Request for u...
2656,SELECT ?count ?topic ?taxonname\nWITH {\nSELEC...,The 100 most common species as subjects of pub...,,<s>[INST] <<SYS>>This is a conversation betwee...,274,exception: 400 Client Error: Bad Request for u...
2760,SELECT DISTINCT ?author ?geo\nWITH {\nSELECT D...,Locations of employers/affiliations of first a...,,<s>[INST] <<SYS>>This is a conversation betwee...,511,exception: 400 Client Error: Bad Request for u...
2791,"querybuilder/?uselang=en&query={""conditions"":[...",Dentists who are notable footballers,,<s>[INST] <<SYS>>This is a conversation betwee...,305,exception: 400 Client Error: Bad Request for u...
2809,SELECT ?item ?itemLabel ?nomLabel ?lieuLabel W...,Location of paintings in the Paintings Departm...,,<s>[INST] <<SYS>>This is a conversation betwee...,378,exception: 400 Client Error: Bad Request for u...

In [9]:
print(f"Number of timed out request: {len(df_timeout)}")
print(f"Number of failed request: {len(df_fail)}")
print(f"Number of empty response: {len(df_empty)}")
print(f"Number of successful resposne: {len(df_successful)}")

Number of timed out request: 375
Number of failed request: 150
Number of empty response: 0
Number of successful resposne: 2320

In [32]:
df_to_limit = df_successful.loc[~df_successful['query'].str.contains("COUNT", case=True)]

In [34]:
print(df_to_limit['query'].iloc[0])

SELECT ?property ?propertyType ?propertyLabel ?propertyDescription WHERE {
?property wikibase:propertyType ?propertyType .
SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
} ORDER BY ASC(xsd:integer(STRAFTER(STR(?property), 'P')))

In [4]:
df_eval = df_successful.copy()
df_eval['eval'] = df_eval.apply(lambda x: None, axis=1)
for (i, row) in df_eval.iterrows():
    try:
        df_eval.at[i, 'eval'] = eval(row['execution'])
    except Exception as inst:
        print(inst)

unterminated string literal (detected at line 1373459) (<string>, line 1373459)
'{' was never closed (<string>, line 3574558)
unterminated string literal (detected at line 1190612) (<string>, line 1190612)

unterminated string literal (detected at line 3873173) (<string>, line 3873173)
unterminated string literal (detected at line 1493388) (<string>, line 1493388)
'{' was never closed (<string>, line 312221)
'{' was never closed (<string>, line 3385813)
unterminated string literal (detected at line 594977) (<string>, line 594977)
'{' was never closed (<string>, line 1452105)
unterminated string literal (detected at line 1572676) (<string>, line 1572676)
unterminated string literal (detected at line 1221449) (<string>, line 1221449)
'{' was never closed (<string>, line 74828)
unterminated string literal (detected at line 673670) (<string>, line 673670)

In [56]:
test_count = df_eval.loc[~df_eval['eval'].isnull()].loc[df_eval['eval'].map(len, na_action='ignore') < 10].iloc[0]
test_count

query            SELECT (COUNT(DISTINCT ?article) AS ?count)\nW...
description                          Count of fictional characters
context          Counting stuff on Wikidata\nCount of fictional...
prompt           <s>[INST] <<SYS>>This is a conversation betwee...
num_tokens                                                     203
execution        [{'count': {'datatype': 'http://www.w3.org/200...
eval             [{'count': {'datatype': 'http://www.w3.org/200...
eval_is_empty                                                False
Name: 3, dtype: object

In [61]:
test_count["eval"][0]["count"]

{'datatype': 'http://www.w3.org/2001/XMLSchema#integer',
 'type': 'literal',
 'value': '96761'}

In [82]:
def get_values(element):
    values = []
    if isinstance(element, dict):
        for k, v in element.items():
            if isinstance(v, dict):
                values += get_values(v)
            elif isinstance(v, str):
                if 'value' in k:
                    values.append(v)
    if isinstance(element, list):
        for el in element:
            values += get_values(el)
    return values

In [71]:
df_eval.loc[~df_eval['eval'].isnull()].loc[df_eval['eval'].map(len, na_action='ignore') < 10].iloc[4]['eval'][0]

{'education': {'type': 'uri',
  'value': 'http://www.wikidata.org/entity/Q34433'},
 'educationLabel': {'xml:lang': 'en',
  'type': 'literal',
  'value': 'University of Oxford'},
 'educationDescription': {'xml:lang': 'en',
  'type': 'literal',
  'value': 'collegiate research university in Oxford, England'},
 'mps': {'datatype': 'http://www.w3.org/2001/XMLSchema#integer',
  'type': 'literal',
  'value': '1'}}

In [54]:
test_eval = df_eval.loc[~df_eval['eval'].isnull()].loc[df_eval['eval'].map(len, na_action='ignore') < 10].iloc[3]
test_eval

query            SELECT ?sitelink ?itemLabel WHERE {\n?item wdt...
description
context          Translation\nCountries that have a Featured Ar...
prompt           <s>[INST] <<SYS>>This is a conversation betwee...
num_tokens                                                     265
execution        [{'sitelink': {'type': 'uri', 'value': 'https:...
eval             [{'sitelink': {'type': 'uri', 'value': 'https:...
eval_is_empty                                                False
Name: 112, dtype: object

In [75]:
test_eval["eval"]

[{'sitelink': {'type': 'uri',
   'value': 'https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0'},
  'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Canada'}},
 {'sitelink': {'type': 'uri',
   'value': 'https://ru.wikipedia.org/wiki/%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C'},
  'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Israel'}},
 {'sitelink': {'type': 'uri',
   'value': 'https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D0%B4%D0%BE%D0%BD%D0%B5%D0%B7%D0%B8%D1%8F'},
  'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Indonesia'}}]

In [63]:
test_eval["eval"][0]['itemLabel']['value']

'Canada'

In [86]:
set(get_values(test_eval['eval']))

{'Canada',
 'Indonesia',
 'Israel',
 'https://ru.wikipedia.org/wiki/%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C',
 'https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D0%B4%D0%BE%D0%BD%D0%B5%D0%B7%D0%B8%D1%8F',
 'https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0'}

In [89]:
def get_precision(hyp, gold):
    sethyp = set(hyp)
    setgold = set(gold)
    
    relevant = sethyp.intersection(setgold)
    return len(relevant)/len(sethyp)

def get_recall(hyp, gold):
    sethyp = set(hyp)
    setgold = set(gold)
    
    relevant = sethyp.intersection(setgold)
    return len(relevant)/len(setgold)

In [92]:
prec = get_precision(get_values(test_count['eval']), get_values(test_eval['eval']))
rec = get_recall(get_values(test_count['eval']), get_values(test_eval['eval']))

print(f"precision={prec}, recall={rec}")

precision=0.0, recall=0.0