In [1]:
import pandas as pd
from nltk.translate.bleu_score import corpus_bleu

In [2]:
def failed_generation_index(dataset: pd.DataFrame):
    return dataset.loc[dataset['has_error'] == True].index

In [3]:
df_ref = pd.read_pickle("../outputs/finetune_dataset_test.pkl")
df_test = pd.read_parquet("../outputs/wikidatallm/results.parquet.gzip")
df_test_no_fail = df_test.drop(failed_generation_index(df_test))

In [7]:
corpus_bleu([[x.split()] for x in df_test_no_fail['target']], [x.split() for x in df_test_no_fail['translated_prompt']])

0.015460172168940916

In [4]:
df_test_no_fail

,row,last_executed_step,to_be_executed_step,translated_prompt,status,has_error,input,target
2418,"""Can you find all cats with pictures and displ...",LLMTranslator,,SELECT ?cat ?catLabel ?image WHERE {\n ?cat w...,,False,"""Can you find all cats with pictures and displ...",SELECT ?item ?itemLabel ?pic\nWHERE\n{\n?item ...
2419,"""Can you retrieve a list of people who are not...",LLMTranslator,,SELECT ?person ?personLabel ?personDescription...,,False,"""Can you retrieve a list of people who are not...",SELECT ?person ?personLabel ?personDescription...
2420,"""Can you write a SparQL query to find the 50 l...",LLMTranslator,,SELECT ?word ?wordLabel WHERE {\n ?word wdt:P...,,False,"""Can you write a SparQL query to find the 50 l...",SELECT ?id WHERE { ?lexeme [entity 0] ?id. } G...
2421,"""Can you find out where the authors of Wikimam...",LLMTranslator,,SELECT ?author ?authorLabel ?birthPlaceLabel W...,,False,"""Can you find out where the authors of Wikimam...",SELECT ?livre ?livreLabel ?personneLabel ?lieu...
2422,"""Can you find out how many online accounts are...",LLMTranslator,,SELECT (COUNT(DISTINCT ?person) AS ?count) WHE...,,False,"""Can you find out how many online accounts are...",SELECT\n?property\n?propertyLabel\n?count\nWIT...
...,...,...,...,...,...,...,...,...
2837,"""Can you find me a list of French archivists w...",LLMTranslator,,SELECT ?archivist ?archivistLabel ?archivistPi...,,False,"""Can you find me a list of French archivists w...",SELECT ?item ?itemLabel ?img ?occupation ?occu...
2838,"""Can you write a SparQL query to display all h...",LLMTranslator,,SELECT ?hackerspace ?hackerspaceLabel ?locatio...,,False,"""Can you write a SparQL query to display all h...",SELECT DISTINCT * WHERE {\n?item [entity 0] [e...
2841,"""Can you create a timeline of pioneers of phot...",LLMTranslator,,SELECT ?person ?personLabel ?birthDate ?deathD...,,False,"""Can you create a timeline of pioneers of phot...",SELECT DISTINCT ?wditem ?wditemLabel ?date ?im...
2842,"""Can you generate a query to find the most pop...",LLMTranslator,,SELECT ?tonality ?tonalityLabel ?work ?workLab...,,False,"""Can you generate a query to find the most pop...",SELECT ?tonalityLabel (COUNT(?tonalityLabel) a...
2843,"""Can you find me a list of Chilean ministers w...",LLMTranslator,,SELECT ?minister ?ministerLabel WHERE {\n ?mi...,,False,"""Can you find me a list of Chilean ministers w...",SELECT distinct ?politician ?politicianLabel W...