In [1]:
import sys
from pathlib import Path
sys.path.append(Path("../modules").absolute().__str__())

import pandas as pd
from data_utils import load_dataset

In [2]:
df = load_dataset("../outputs/batch_run/faith_template5/execution/Mistral-7B-Instruct-v0.2_rv16-ld0.05-bs1-p0-nta1-e3-template_engpeft-t0.2-topp0.95_executed.parquet.gzip")
df.head()

,row,last_executed_step,to_be_executed_step,translated_prompt,extracted_entities,extracted_properties,linked_entities,linked_properties,linked_query,status,...,query_templated,result,full_answer,is_skipped,is_prompt_too_long,execution,executed_query,input,target_raw,target_template
index,,,,,,,,,,,,,,,,,,,,,
2300,"""Find Danish idioms and their corresponding le...",SimplePlaceholderFiller,,SELECT ?idiom ?idiomLabel ?lemma ?lemmaLabel\n...,"[idiom, Danish]","[instance of, language, lemma]","[[idiom, [Q184511, idiom]], [Danish, [Q9035, D...","[[instance of, [P31, instance of]], [language,...",SELECT ?idiom ?idiomLabel ?lemma ?lemmaLabel\n...,,...,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...,"[""Find Danish idioms and their corresponding l...","{'content': ' 1. ""Find Danish idioms and their...",False,False,[],PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"""Find Danish idioms and their corresponding le...",SELECT ?l ?lemma WHERE {\n?l dct:language wd:Q...,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...
2628,"""Write a SparQL query to retrieve the name, co...",,LLMTranslator,,None,None,None,None,None,"Unexpected err.msg=""The LLM result doesn't mat...",...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Write a SparQL query to retrieve the name, c...","{'content': ' 1. ""Write a SparQL query to retr...",False,False,exception: query is empty,None,"""Write a SparQL query to retrieve the name, co...",SELECT ?item ?itemLabel ?constituency ?constit...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
1806,"""Find and list the titles, labels, and a rando...",SimplePlaceholderFiller,,SELECT ?item ?itemLabel ?image WHERE {\n?item ...,"[painting, Haarlem]","[instance of, located in the work, image]","[[painting, [Q11629, art of painting]], [Haarl...","[[instance of, [P31, instance of]], [located i...",SELECT ?item ?itemLabel ?image WHERE {\n?item ...,,...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find and list the titles, labels, and a rand...","{'content': ' 1. ""Find and list the titles, la...",False,False,exception: 400 Client Error: Bad Request for u...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"""Find and list the titles, labels, and a rando...",SELECT DISTINCT ?item ?itemLabel ?image WHERE ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
1345,"""Find natural arches from around the world, in...",SimplePlaceholderFiller,,SELECT ?item ?itemLabel ?countryLabel ?coord ?...,[natural arch],"[instance of, country, coordinate location, im...","[[natural arch, [Q954501, natural arch]]]","[[instance of, [P31, instance of]], [country, ...",SELECT ?item ?itemLabel ?countryLabel ?coord ?...,,...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find natural arches from around the world, i...","{'content': ' 1. ""Find natural arches from aro...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"""Find natural arches from around the world, in...",SELECT ?item ?itemLabel ?countryLabel ?coords ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
251,"""Retrieve the names, labels, descriptions, and...",,LLMTranslator,,None,None,None,None,None,"Unexpected err.msg=""The LLM result doesn't mat...",...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Retrieve the names, labels, descriptions, an...","{'content': ' 1. ""Retrieve the names, labels, ...",False,False,exception: query is empty,None,"""Retrieve the names, labels, descriptions, and...",SELECT ?person ?personLabel ?personDescription...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...

In [7]:
print(df.iloc[0].translated_prompt)

SELECT ?idiom ?idiomLabel ?lemma ?lemmaLabel
WHERE
{
?idiom wdt:[property:instance of] wd:[entity:idiom] .
?idiom wdt:[property:language] wd:[entity:Danish] .
?idiom wdt:[property:lemma] ?lemma .
SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}

In [5]:
print(df.iloc[0].linked_query)

SELECT ?idiom ?idiomLabel ?lemma ?lemmaLabel
WHERE
{
?idiom wdt:P31 wd:Q184511 .
?idiom wdt:P407 wd:Q9035 .
?idiom wdt:P6404 ?lemma .
SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}

In [8]:
print(df.iloc[0].target_raw)

SELECT ?l ?lemma WHERE {
?l dct:language wd:Q9035;
wikibase:lemma ?lemma;
wikibase:lexicalCategory wd:Q184511.
}

In [17]:
from transformers import AutoTokenizer

In [18]:
tokenizer = AutoTokenizer.from_pretrained("mistralai/Mistral-7B-Instruct-v0.2")

print(f"{tokenizer.unk_token=}")
print(f"{tokenizer.pad_token=}")
print(f"{tokenizer.unk_token_id=}")
print(f"{tokenizer.pad_token_id=}")

tokenizer.pad_token = tokenizer.unk_token

print(f"{tokenizer.unk_token=}")
print(f"{tokenizer.pad_token=}")
print(f"{tokenizer.unk_token_id=}")
print(f"{tokenizer.pad_token_id=}")

tokenizer.unk_token='<unk>'
tokenizer.pad_token=None
tokenizer.unk_token_id=0
tokenizer.pad_token_id=None
tokenizer.unk_token='<unk>'
tokenizer.pad_token='<unk>'
tokenizer.unk_token_id=0
tokenizer.pad_token_id=0

In [1]:
import sys
from pathlib import Path
sys.path.append(Path("../modules").absolute().__str__())

from data_utils import load_dataset

In [3]:
df = load_dataset("../outputs/batch_run/democracy_template8/execution/Mistral-7B-Instruct-v0.2_rv32-ld0.05-bs1-p0-nta1-e3-template_engpeft-t0.2-topp0.95_executed.parquet.gzip")
df.head()

,row,last_executed_step,to_be_executed_step,translated_prompt,extracted_entities,extracted_properties,linked_entities,linked_properties,output,status,...,query_templated,result,full_answer,is_skipped,is_prompt_too_long,execution,executed_query,input,target_raw,target_template
index,,,,,,,,,,,,,,,,,,,,,
2300,"""Find Danish idioms and their corresponding le...",SimplePlaceholderFiller,,SELECT ?idiom ?idiomLabel ?lemma ?lemmaLabel\n...,"[idiom, Danish, Danish]","[instance of, language of work or name, lexica...","[[idiom, [Q184511, idiom]], [Danish, [Q9035, D...","[[instance of, [P31, instance of]], [language ...",SELECT ?idiom ?idiomLabel ?lemma ?lemmaLabel\n...,,...,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...,"[""Find Danish idioms and their corresponding l...","{'content': ' 1. ""Find Danish idioms and their...",False,False,[],PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"""Find Danish idioms and their corresponding le...",SELECT ?l ?lemma WHERE {\n?l dct:language wd:Q...,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...
2628,"""Write a SparQL query to retrieve the name, co...",,LLMTranslator,,None,None,None,None,None,"Unexpected err.msg=""The LLM result doesn't mat...",...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Write a SparQL query to retrieve the name, c...","{'content': ' 1. ""Write a SparQL query to retr...",False,False,exception: query is empty,None,"""Write a SparQL query to retrieve the name, co...",SELECT ?item ?itemLabel ?constituency ?constit...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
1806,"""Find and list the titles, labels, and a rando...",,LLMTranslator,,None,None,None,None,None,"Unexpected err.msg=""The LLM result doesn't mat...",...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find and list the titles, labels, and a rand...","{'content': ' 1. ""Find and list the titles, la...",False,False,exception: query is empty,None,"""Find and list the titles, labels, and a rando...",SELECT DISTINCT ?item ?itemLabel ?image WHERE ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
1345,"""Find natural arches from around the world, in...",SimplePlaceholderFiller,,SELECT ?item ?itemLabel ?countryLabel ?coord ?...,[natural arch],"[instance of, country, coordinate location, im...","[[natural arch, [Q954501, natural arch]]]","[[instance of, [P31, instance of]], [country, ...",SELECT ?item ?itemLabel ?countryLabel ?coord ?...,,...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find natural arches from around the world, i...","{'content': ' 1. ""Find natural arches from aro...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"""Find natural arches from around the world, in...",SELECT ?item ?itemLabel ?countryLabel ?coords ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
251,"""Retrieve the names, labels, descriptions, and...",,LLMTranslator,,None,None,None,None,None,"Unexpected err.msg=""The LLM result doesn't mat...",...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Retrieve the names, labels, descriptions, an...","{'content': ' 1. ""Retrieve the names, labels, ...",False,False,exception: query is empty,None,"""Retrieve the names, labels, descriptions, and...",SELECT ?person ?personLabel ?personDescription...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...

In [15]:
handpicked_data = df.loc[(~df['execution'].str.startswith("exception:")) & (~df['execution'].isnull()) & (df['execution'].map(len) > 0)].iloc[[1, 2, 3, 206, 207]]

In [25]:
preds = tokenizer.batch_encode_plus([f"`sparql\n{i}`" for i in handpicked_data['translated_prompt'].to_list()], add_special_tokens=False, padding='longest', return_tensors='np')['input_ids'].tolist()
labels = tokenizer.batch_encode_plus([f"`sparql\n{i}`" for i in handpicked_data['target_template'].to_list()], add_special_tokens=False, padding='longest', return_tensors='np')['input_ids'].tolist()

In [27]:
import json
from pathlib import Path

data = {
    "preds": preds,
    "labels": labels,
}

path = Path("sft_peft_compute_metrics_execute_ok.json")
path.write_text(json.dumps(data))

14170

In [1]:
import sys
from pathlib import Path
sys.path.append(Path("../modules").absolute().__str__())

from data_utils import load_dataset


df = load_dataset("../outputs/batch_run/lezgo/execution/Mistral-7B-Instruct-v0.2_rv16-ld0-bs1-p0-nta0-e3-template_engpeft-t0.2-topp0.95_executed.parquet.gzip")
df.head()

,row,last_executed_step,to_be_executed_step,translated_prompt,extracted_entities,extracted_properties,linked_entities,linked_properties,output,status,...,query_templated,result,full_answer,is_skipped,is_prompt_too_long,execution,executed_query,input,target_raw,target_template
index,,,,,,,,,,,,,,,,,,,,,
2300,"""Find Danish idioms and their corresponding le...",SimplePlaceholderFiller,,SELECT ?idiom ?idiomLabel ?lemma ?lemmaLabel\n...,"[idiom, Danish]","[instance of, language, lemma]","[[idiom, [Q184511, idiom]], [Danish, [Q9035, D...","[[instance of, [P31, instance of]], [language,...",SELECT ?idiom ?idiomLabel ?lemma ?lemmaLabel\n...,,...,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...,"[""Find Danish idioms and their corresponding l...","{'content': ' 1. ""Find Danish idioms and their...",False,False,[],PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"""Find Danish idioms and their corresponding le...",SELECT ?l ?lemma WHERE {\n?l dct:language wd:Q...,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...
2628,"""Write a SparQL query to retrieve the name, co...",,LLMTranslator,,None,None,None,None,None,"Unexpected err.msg=""The LLM result doesn't mat...",...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Write a SparQL query to retrieve the name, c...","{'content': ' 1. ""Write a SparQL query to retr...",False,False,exception: query is empty,None,"""Write a SparQL query to retrieve the name, co...",SELECT ?item ?itemLabel ?constituency ?constit...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
1806,"""Find and list the titles, labels, and a rando...",,LLMTranslator,,None,None,None,None,None,"Unexpected err.msg=""The LLM result doesn't mat...",...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find and list the titles, labels, and a rand...","{'content': ' 1. ""Find and list the titles, la...",False,False,exception: query is empty,None,"""Find and list the titles, labels, and a rando...",SELECT DISTINCT ?item ?itemLabel ?image WHERE ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
1345,"""Find natural arches from around the world, in...",SimplePlaceholderFiller,,SELECT ?item ?itemLabel ?countryLabel ?coordin...,[natural arch],"[instance of, country, coordinate location, im...","[[natural arch, [Q954501, natural arch]]]","[[instance of, [P31, instance of]], [country, ...",SELECT ?item ?itemLabel ?countryLabel ?coordin...,,...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find natural arches from around the world, i...","{'content': ' 1. ""Find natural arches from aro...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"""Find natural arches from around the world, in...",SELECT ?item ?itemLabel ?countryLabel ?coords ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
251,"""Retrieve the names, labels, descriptions, and...",,LLMTranslator,,None,None,None,None,None,"Unexpected err.msg=""The LLM result doesn't mat...",...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Retrieve the names, labels, descriptions, an...","{'content': ' 1. ""Retrieve the names, labels, ...",False,False,exception: query is empty,None,"""Retrieve the names, labels, descriptions, and...",SELECT ?person ?personLabel ?personDescription...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...

In [3]:
import json
from pathlib import Path

df_out = df.head()

path = Path("evaluation_test.json")
path.write_text(df_out.to_json())

44943

In [7]:
import pandas as pd

data_gold = json.loads(Path("../outputs/batch_run/lezgo/preprocessed_gold.json").read_text())
df_gold = pd.read_json(data_gold['df_gold_eval'])
df_gold.head()

,query,description,context,prompt,num_tokens,start_with_SELECT,query_templated,result,full_answer,is_skipped,is_prompt_too_long,execution,executed_query,input,target_raw,target_template,gold_eval,gold_get_nested_values,gold_eval_df,gold_id_columns
2300,SELECT ?l ?lemma WHERE {\n?l dct:language wd:Q...,Danish idioms,,"<s>[INST] QUERY=""SELECT ?l ?lemma WHERE {\n?l ...",157,True,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...,"[""Find Danish idioms and their corresponding l...","{'content': ' 1. ""Find Danish idioms and their...",False,False,"[{'l': {'type': 'uri', 'value': 'http://www.wi...",PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...,"[""Find Danish idioms and their corresponding l...",SELECT ?l ?lemma WHERE {\n?l dct:language wd:Q...,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...,"[{'l': {'type': 'uri', 'value': 'http://www.wi...","[http://www.wikidata.org/entity/L347127, have ...",{'l': {'0': 'http://www.wikidata.org/entity/L3...,{'l': {'0': 'http://www.wikidata.org/entity/L3...
2628,SELECT ?item ?itemLabel ?constituency ?constit...,List of candidates for the next French legisla...,,"<s>[INST] QUERY=""SELECT ?item ?itemLabel ?cons...",279,True,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Write a SparQL query to retrieve the name, c...","{'content': ' 1. ""Write a SparQL query to retr...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Write a SparQL query to retrieve the name, c...",SELECT ?item ?itemLabel ?constituency ?constit...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[{'item': {'type': 'uri', 'value': 'http://www...","[http://www.wikidata.org/entity/Q1457778, http...",{'item': {'0': 'http://www.wikidata.org/entity...,{'item': {'0': 'http://www.wikidata.org/entity...
1806,SELECT DISTINCT ?item ?itemLabel ?image WHERE ...,100 random paintings related to Haarlem,,"<s>[INST] QUERY=""SELECT DISTINCT ?item ?itemLa...",247,True,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find and list the titles, labels, and a rand...","{'content': ' 1. ""Find and list the titles, la...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find and list the titles, labels, and a rand...",SELECT DISTINCT ?item ?itemLabel ?image WHERE ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[{'item': {'type': 'uri', 'value': 'http://www...","[http://www.wikidata.org/entity/Q57517799, Hou...",{'item': {'0': 'http://www.wikidata.org/entity...,{'item': {'0': 'http://www.wikidata.org/entity...
1345,SELECT ?item ?itemLabel ?countryLabel ?coords ...,Natural arches around the globe] ([ source,,"<s>[INST] QUERY=""SELECT ?item ?itemLabel ?coun...",264,True,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find natural arches from around the world, i...","{'content': ' 1. ""Find natural arches from aro...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find natural arches from around the world, i...",SELECT ?item ?itemLabel ?countryLabel ?coords ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[{'item': {'type': 'uri', 'value': 'http://www...","[http://www.wikidata.org/entity/Q124101953, Po...",{'item': {'0': 'http://www.wikidata.org/entity...,{'item': {'0': 'http://www.wikidata.org/entity...
251,SELECT ?person ?personLabel ?personDescription...,,Ashmolean Museum\nAshmolean people associated ...,"<s>[INST] QUERY=""SELECT ?person ?personLabel ?...",407,True,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Retrieve the names, labels, descriptions, an...","{'content': ' 1. ""Retrieve the names, labels, ...",False,False,"[{'person': {'type': 'uri', 'value': 'http://w...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Retrieve the names, labels, descriptions, an...",SELECT ?person ?personLabel ?personDescription...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[{'person': {'type': 'uri', 'value': 'http://w...","[http://www.wikidata.org/entity/Q1375891, Tani...",{'person': {'0': 'http://www.wikidata.org/enti...,{'person': {'0': 'http://www.wikidata.org/enti...

In [8]:
df_gold_out = df_gold.head()

path = Path("evaluation_test_gold.json")
path.write_text(df_gold_out.to_json())

201839

In [1]:
import sys
from pathlib import Path
sys.path.append(Path("../modules").absolute().__str__())

from data_utils import load_dataset

import pandas as pd

In [2]:
dataset = load_dataset("../datasets/final_queries_v1.7.json")
dataset.head()

,query,description,context,prompt,num_tokens,start_with_SELECT
0,SELECT ?property ?propertyType ?propertyLabel ...,Wikidata properties in numerical order,Counting stuff on Wikidata\nAll Wikidata prope...,<s>[INST] <<SYS>>This is a conversation betwee...,267,True
1,SELECT ?id ?idLabel ?idDescription ?new{\n?id ...,Wikidata properties excluding external IDs,Counting stuff on Wikidata\nVariation of the a...,<s>[INST] <<SYS>>This is a conversation betwee...,296,True
2,SELECT (COUNT(?article) AS ?count)\nWHERE {\n?...,,Counting stuff on Wikidata\nCount of scientifi...,<s>[INST] <<SYS>>This is a conversation betwee...,197,True
3,SELECT (COUNT(DISTINCT ?article) AS ?count)\nW...,Count of fictional characters,Counting stuff on Wikidata\nCount of fictional...,<s>[INST] <<SYS>>This is a conversation betwee...,203,True
4,SELECT (COUNT(?item) AS ?count)\nWHERE { ?item...,Count of items with coordinate locations,Counting stuff on Wikidata\nCount of items wit...,<s>[INST] <<SYS>>This is a conversation betwee...,186,True

In [4]:
df_out = dataset[2549:2553]
df_out.head()

,query,description,context,prompt,num_tokens,start_with_SELECT
2549,SELECT DISTINCT\n?person ?personLabel ?heigth_...,Images of biologists by height,,<s>[INST] <<SYS>>This is a conversation betwee...,478,True
2550,SELECT DISTINCT ?item ?itemLabel ?pic ?diamete...,Biggest coins outside the U.S.,,<s>[INST] <<SYS>>This is a conversation betwee...,524,True
2551,SELECT ?letter (COUNT(?letter) AS ?count) WITH...,Frequency of letters in five-letter words in W...,,<s>[INST] <<SYS>>This is a conversation betwee...,608,True
2552,SELECT ?xLabel ?size ?rgb WITH {\nSELECT DISTI...,Visualization of the Prime/Ulam Spiral using n...,,<s>[INST] <<SYS>>This is a conversation betwee...,518,True

In [7]:
df_out_v2 = df_out.reset_index(drop=True)
df_out_v2.head()

,query,description,context,prompt,num_tokens,start_with_SELECT
0,SELECT DISTINCT\n?person ?personLabel ?heigth_...,Images of biologists by height,,<s>[INST] <<SYS>>This is a conversation betwee...,478,True
1,SELECT DISTINCT ?item ?itemLabel ?pic ?diamete...,Biggest coins outside the U.S.,,<s>[INST] <<SYS>>This is a conversation betwee...,524,True
2,SELECT ?letter (COUNT(?letter) AS ?count) WITH...,Frequency of letters in five-letter words in W...,,<s>[INST] <<SYS>>This is a conversation betwee...,608,True
3,SELECT ?xLabel ?size ?rgb WITH {\nSELECT DISTI...,Visualization of the Prime/Ulam Spiral using n...,,<s>[INST] <<SYS>>This is a conversation betwee...,518,True

In [9]:
path = Path("templatize_test.json")
path.write_text(df_out_v2.to_json())

9655