In [1]:
import sys
from pathlib import Path
sys.path.append(Path("../modules").absolute().__str__())

import pandas as pd
from data_utils import load_dataset

In [2]:
df = load_dataset("../outputs/dataset_pipeline/faith/faith-split_test.pkl")
df.head()

,query,description,context,prompt,num_tokens,start_with_SELECT,query_templated,result,full_answer,is_skipped,is_prompt_too_long,execution,executed_query,input,target_raw,target_template
index,,,,,,,,,,,,,,,,
2300,SELECT ?l ?lemma WHERE {\n?l dct:language wd:Q...,Danish idioms,,"<s>[INST] QUERY=""SELECT ?l ?lemma WHERE {\n?l ...",157,True,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...,"[""Find Danish idioms and their corresponding l...","{'content': ' 1. ""Find Danish idioms and their...",False,False,"[{'l': {'type': 'uri', 'value': 'http://www.wi...",PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...,"[""Find Danish idioms and their corresponding l...",SELECT ?l ?lemma WHERE {\n?l dct:language wd:Q...,PREFIX dct: <http://purl.org/dc/terms/>\nPREFI...
2628,SELECT ?item ?itemLabel ?constituency ?constit...,List of candidates for the next French legisla...,,"<s>[INST] QUERY=""SELECT ?item ?itemLabel ?cons...",279,True,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Write a SparQL query to retrieve the name, c...","{'content': ' 1. ""Write a SparQL query to retr...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Write a SparQL query to retrieve the name, c...",SELECT ?item ?itemLabel ?constituency ?constit...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
1806,SELECT DISTINCT ?item ?itemLabel ?image WHERE ...,100 random paintings related to Haarlem,,"<s>[INST] QUERY=""SELECT DISTINCT ?item ?itemLa...",247,True,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find and list the titles, labels, and a rand...","{'content': ' 1. ""Find and list the titles, la...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find and list the titles, labels, and a rand...",SELECT DISTINCT ?item ?itemLabel ?image WHERE ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
1345,SELECT ?item ?itemLabel ?countryLabel ?coords ...,Natural arches around the globe] ([ source,,"<s>[INST] QUERY=""SELECT ?item ?itemLabel ?coun...",264,True,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find natural arches from around the world, i...","{'content': ' 1. ""Find natural arches from aro...",False,False,"[{'item': {'type': 'uri', 'value': 'http://www...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Find natural arches from around the world, i...",SELECT ?item ?itemLabel ?countryLabel ?coords ...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...
251,SELECT ?person ?personLabel ?personDescription...,,Ashmolean Museum\nAshmolean people associated ...,"<s>[INST] QUERY=""SELECT ?person ?personLabel ?...",407,True,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Retrieve the names, labels, descriptions, an...","{'content': ' 1. ""Retrieve the names, labels, ...",False,False,"[{'person': {'type': 'uri', 'value': 'http://w...",PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...,"[""Retrieve the names, labels, descriptions, an...",SELECT ?person ?personLabel ?personDescription...,PREFIX bd: <http://www.bigdata.com/rdf#>\nPREF...

In [8]:
print(df.iloc[0].target_raw)

SELECT ?l ?lemma WHERE {
?l dct:language wd:Q9035;
wikibase:lemma ?lemma;
wikibase:lexicalCategory wd:Q184511.
}

In [10]:
print(df.iloc[0].target_template)

PREFIX dct: <http://purl.org/dc/terms/>
PREFIX wd: <http://www.wikidata.org/entity/>
PREFIX wikibase: <http://wikiba.se/ontology#>

SELECT ?l ?lemma WHERE {
?l dct:language wd:[entity:Danish];
wikibase:lemma ?lemma;
wikibase:lexicalCategory wd:[entity:idiom].
}