In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet("../outputs/batch_run/test17/generation/Mistral-7B-Instruct-v0.2_rv4-ld0-bs1-p0-nta0-e1-template_engpeft-t0.2-topp0.95.parquet.gzip")
df

,row,last_executed_step,to_be_executed_step,status,has_error,input,target_template,target_raw
2418,"""Can you find me all the dead authors who have...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you find me all the dead authors who have...",SELECT DISTINCT ?person ?personLabel ?personDe...,SELECT DISTINCT ?person ?personLabel ?personDe...
2419,"""Can you find me all the mayors who are any ki...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you find me all the mayors who are any ki...",SELECT ?image ?speciesLabel ?mayorLabel ?place...,SELECT ?image ?speciesLabel ?mayorLabel ?place...
2420,"""Can you retrieve a list of distinct instituti...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you retrieve a list of distinct instituti...",select distinct ?item ?itemLabel (sample(?logo...,select distinct ?item ?itemLabel (sample(?logo...
2421,"""Can you retrieve a map of the highest points ...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you retrieve a map of the highest points ...",SELECT DISTINCT ?item ?itemLabel ?highestPoint...,SELECT DISTINCT ?item ?itemLabel ?highestPoint...
2422,"""Can you retrieve information about long-runni...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you retrieve information about long-runni...",SELECT ?family ?familyLabel (MAX(?age) AS ?age...,SELECT ?family ?familyLabel (MAX(?age) AS ?age...
...,...,...,...,...,...,...,...,...
2840,"""Can you retrieve a list of movies directed by...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you retrieve a list of movies directed by...",SELECT ?film ?filmLabel ?seriesLabel ?duration...,SELECT ?film ?filmLabel ?seriesLabel ?duration...
2841,"""Can you find the rail link between Narvik, No...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you find the rail link between Narvik, No...",SELECT ?station ?stationLabel ?cds ?line ?laye...,SELECT ?station ?stationLabel ?cds ?line ?laye...
2842,"""Can you retrieve a list of fictional swords, ...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you retrieve a list of fictional swords, ...",SELECT ?item ?itemLabel ?ownerLabel ?workLabel...,SELECT ?item ?itemLabel ?ownerLabel ?workLabel...
2843,"""Can you write a SparQL query to count the num...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you write a SparQL query to count the num...",SELECT ?partof (COUNT(*) as ?count)\n{\n?item ...,SELECT ?partof (COUNT(*) as ?count)\n{\n?item ...
2844,"""Can you find all individuals who are labeled ...",,LLMEntityExtractor,Unexpected err=ValueError('The format of the r...,True,"""Can you find all individuals who are labeled ...",SELECT ?human ?label\nWHERE\n{\n?human [entity...,SELECT ?human ?label\nWHERE\n{\n?human wdt:P31...

In [4]:
print(df['status'].iloc[0])

Unexpected err=ValueError('The format of the response is not correct.'), type(err)=<class 'ValueError'>